@font-face {
  font-family: 'metropolisblack';
  src: url('../fonts/metropolis-black-webfont.woff2') format('woff2'),
       url('../fonts/metropolis-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'metropolisbold';
  src: url('../fonts/metropolis-bold-webfont.woff2') format('woff2'),
       url('../fonts/metropolis-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'metropolissemi_bold';
  src: url('../fonts/metropolis-semibold-webfont.woff2') format('woff2'),
       url('../fonts/metropolis-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'metropolisregular';
  src: url('../fonts/metropolis-regular-webfont.woff2') format('woff2'),
       url('../fonts/metropolis-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


body {font-family: 'metropolisregular';}

figure, body, html, ul { padding: 0;margin: 0;}
.container {max-width: 1400px;margin: 0 auto; }
.wrraper {max-width: 100%;width: 100%; background-image: url("../images/Rounded-Rectangle.svg");background-repeat: no-repeat;background-size: cover;background-position: 40px 100%; }
header {  padding: 25px 30px;}
header .container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
img {max-width: 100%;}
.logo_left { max-width: 175px; }

.main-card-sec {padding-bottom: 100px;}

.fun-game-sec {max-width: 1035px; margin-left: 17%; background: #fff; padding: 45px; border-radius: 25px; -webkit-box-shadow: 0px 0px 15px 10px rgb(0 0 0 / 40%); box-shadow: 0px 0px 15px 10px rgb(0 0 0 / 40%);
position: relative;}

.game-left-sec h2 { font-family: 'metropolissemi_bold';font-size: 1.5em; }
.game-left-sec h2 b { font-family: 'metropolisbold'; }
.game-left-sec {max-width: 310px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column;height: 100%; -ms-flex-pack: distribute; justify-content: space-around;  }

.card-img-sec { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }
.card-img-sec strong { font-family: 'metropolisblack'; font-weight: bold;font-size: 4em;margin-right: 15px;line-height: 1;color: #cccccc; }
.card-cont {margin-bottom: 15px;  text-align: right; }

.card-img-sec img {max-width: 390px; width: 100%;border-radius: 13px;-webkit-box-shadow: 0px 0px 25px 14px rgb(0 0 0 / 10%);box-shadow: 0px 0px 25px 14px rgb(0 0 0 / 10%);margin-bottom: 10px; }

.card-cont .btn a {text-decoration: none; display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;text-transform: uppercase;color: #000;-webkit-transition: .3s;-o-transition: .3s;transition: .3s;font-family: 'metropolissemi_bold'; }
.card-cont .btn a:hover {color:#e53039 ;}
.card-cont .btn a span { display: inline-block;width: 25px;height: 25px; background-color: #e53039; border-radius: 50%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;margin-right: 10px; }
.card-cont .btn a span img {max-width: 15px;}

.kitti-car {position: absolute; left: -23%; bottom: 0; max-width: 325px;}







@media (max-width:1160px) {
  .kitti-car {max-width: 260px;}
  .fun-game-sec > .row > .col-md-7 {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end;}
  .card-sec { max-width: 70%;}
}

@media (max-width: 991px) {
  .game-left-sec h2 { font-size: 1.3em;  margin-bottom: 30px;}
  .kitti-car {  max-width: 210px; }
  .main-card-sec {  padding-bottom: 55px; }
}

@media (max-width: 767px) {
  .game-left-sec {max-width: 100%;}
  .card-sec {max-width: 100%;}
  .card-img-sec img { max-width: 80%; }
}


@media (max-width: 599px) {

  .logo_left {  max-width: 130px; }

  .fun-game-sec { margin-left: 0;padding: 30px;}
  .kitti-car { max-width: 170px;  left: -34px;  bottom: -55px; }
  .card-sec {  max-width: 100%; }
  .card-img-sec strong {font-size: 2em;}
  .game-left-sec h2 {  font-size: 1.1em; }
  .card-cont .btn a { font-size: 13px;}
  .fun-game-sec { -webkit-box-shadow:0px 0px 15px 10px rgb(0 0 0 / 20%); box-shadow:0px 0px 15px 10px rgb(0 0 0 / 20%); }
  

}
